#footer{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-main{
    display: flex;
    justify-content: space-evenly;
    /* border: 4px solid green; */
    height: 100%;
    background-color: rgb(20, 20, 20);
    padding-bottom: 2rem;
}

.footer-down{
    /* border: 4px solid yellow; */
    text-align: center;
    background-color: white;
    color: black;
    padding: 0.3rem 0;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    /* border: 2px solid yellow; */
}

.footer-left a{
    font-size: 1.1rem;
    color: #6f6b73;
}

.footer-left a:hover{
    color: #969398;
}

.footer-left a span{
    color: white;
}

.footer-mid{
    margin-top: 2rem;
    /* border: 2px solid yellow; */
}

.footer-mid .quick-links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid blue; */
    margin-top: 2rem;
    /* align-items: center; */
    color: #6f6b73;
}

.quick-links .foot-items{
    width: fit-content;
}

.footer-right{
    margin-top: 2rem;
    /* border: 2px solid yellow; */
}

.footer-right .social-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 2px solid blue; */
    /* align-items: center; */
    margin-top: 2rem;
}

.social-img{
    height: 2rem;
}

.social-img:hover{
    filter: brightness(200%);
}

.social-items:hover{
    cursor: pointer;
}

.foot-items:hover{
    cursor: pointer;
    color: #969398;
}

@media only screen and (max-width: 500px){
    
    #footer{
        height: fit-content;
    }

    .footer-main{
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
    }
}